* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

.container {
  width: 90rem;
  height: 95vh;
  margin: 2rem auto;
  border: 1px solid black;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2rem;
}

.header {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding: 2rem 2rem 1rem 2rem;
}

.form-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}

.form-input {
  display: flex;
  justify-content: flex-end;
}

.form-button {
  margin: 0 auto;
}

.repo-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.repo-info {
  margin: 0 auto;
}

.issue-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.tab-buttons {
  margin: 0 auto;
}

.issue-list {
  width: 90%;
  padding: 2rem;
  margin: 2rem auto;
  border: 1px solid black;
}

.issue-list-title {
  margin-bottom: 3rem;
}

.issue-title:not(:last-child) {
  margin-bottom: 1rem;
}

/* MODAL */

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.issue-item {
  position: relative;
  width: 80rem;
  height: 85vh;
  margin: 2rem auto;
  padding: 4rem;
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-align: right;
  font-size: large;
  font-weight: bold;
}

.issue-title, .comments-title {
  margin-bottom: 1rem;
}

.comments-list {
  width: 100%;
  overflow-y: auto;
}

.comments-title {
  text-align: center;
}

.comment {
  border: 1px solid black;
  margin-bottom: 1rem;
}

.comment-author {
  border-bottom: 1px solid black;
  padding: 1rem;
}

.comment-content {
  padding: 1rem;
}

.initial-post {
  width: 100%;
}








