* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  color: #39ff14;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

input {
  -webkit-appearance: none; 
  appearance: none;
  color: #39ff14;
  font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #39ff14;
  transition: background-color 5000s ease-in-out 0s;
  font: inherit;
}

button {
  border: 1px solid #39ff14;
  background-color: black;
  color: #39ff14;
  padding: .5rem 1rem;
  margin: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.container {
  width: 90rem;
  margin: 2rem auto;
  border: 1px solid #39ff14;
  border-bottom: 0;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-stretch {
  padding-bottom: 2rem;
  border-bottom: 1px solid #39ff14;
}

.header {
  width: 100%;
  border-bottom: 1px solid #39ff14;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1rem;
  font-weight: 900;
}

.form-container {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #39ff14;
  padding: 2rem 2rem 1rem 2rem;
}

.form-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}

.inputs {
  margin: 0 auto;
  height: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-input {
  display: flex;
  justify-content: flex-end;
}

.input-field {
  width: 35rem;
  border: 1px solid #39ff14;
  background: black;
  margin-left: 1rem;
  padding: 0 .5rem;
}

.input-field:focus {
  outline: none;
  border-color: red;
} 

.form-button {
  margin: 0 auto;
}

.form-button button {
  width: 10rem;
}

.repo-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.repo-info {
  margin: 0 auto;
}

.issue-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.tab-buttons {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab-buttons button {
  height: 3rem;
}

.tab-buttons button:focus {
  outline: none;
  border: 2px solid red;
}

.issue-list {
  width: 90%;
  max-height: 38rem;
  padding: 2rem;
  margin: 2rem auto;
  border: 1px solid #39ff14;
}

.issue-list-title {
  margin-bottom: 2rem;
}

.issue-list-window {
  border: 1px solid red;
  padding: 2rem;
  height: 24.7rem;
  overflow-y: auto;
}

.issue-title {
  cursor: pointer;
  border: 1px solid #39ff14;
  padding: .5rem;
}

.issue-title:not(:last-child) {
  margin-bottom: 1rem;
}

.more-issues-btn {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

/* STAR-CONTAINER */

.star-container {
  margin: 0 auto 2rem auto;
  max-width: 100%;
  height: 10rem;
  border-top: 1px solid #39ff14;
  border-bottom: 1px solid #39ff14;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transition: all 2s;
}

.star-container.appear {
  opacity: 1;
}

/* MODAL */

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.issue-item {
  position: relative;
  width: 80rem;
  height: 85vh;
  margin: 2rem auto;
  padding: 4rem;
  border: 1px solid #39ff14;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-align: right;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.issue-item-title, .comments-title {
  margin-bottom: 1rem;
  text-align: center;
}

.comments-container {
  width: 100%;
  border: 1px solid #39ff14;
  overflow-y: auto;
}

.comments-list {
  width: 100%; 
  padding: 2rem;
  overflow-y: auto;
}

.comments-title {
  text-align: center;
}

.comment {
  border: 1px solid #39ff14;
}

.comment:not(:last-child) {
  margin-bottom: 1rem;
}

.comment-author { 
  padding: 1rem;
}

.span-author {
  color: red;
}

.span-date {
  color: yellow;
}

.comment-content {
  border-top: 1px solid #39ff14;
  padding: 1rem;
  max-height: 22vh;
  overflow-y: auto;
}

.initial-post {
  width: 100%;
}

/* ERROR & LOADING */

.loading, .error-container {
  margin-top: 2rem;
}

.error-container {
  border: 1px solid #39ff14;
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
}

.error-msg {
  margin-top: .5rem;
}

/* BASIC RESPONSIVE DESIGN */

@media (max-width: 768px) {
  html { 
    font-size: 50%;
  }
  .container {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
  }
  .form-container {
    height: 14rem;
    font-size: 1.4rem;
  }
  .form-content {
    width: 100%;
  }
  .issue-list {
    height: 100%;
  }
}

@media (max-width: 430px) {
  html { 
    font-size: 31.25%;
  }
  .container {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
  }
  .form-container {
    height: 24rem;
    font-size: 2.8rem;
  }
  .form-container form {
    height: 100%;
    width: 100%;
  }
  .form-content {
    height: 100%;
  }
}
